$attr: "background";

@include val("white") {
  background: white;
}

@include val("gradient") {
  background: linear-gradient(-20deg, hsl(0,50%,96%) 20%, hsl(90,50%,98%) 50%, hsl(180,50%,96%) 80%);
}
