[_border~="round"] {
  border-radius: 50%;
}

[_border~="polariod"] {
  box-shadow: 0 0 0 1px #eee, 0 0 0 7px white, 0 0 0 8px #ddd;
}

[_border~="frame"] {
  box-shadow: 0 0 0 7px white, 0 0 0 8px #ddd;
}

[_border~="simple"] {
  box-shadow: 0 0 0 1px #ddd;
}
