/*
  FONT FAMILIES
*/

[_type~="sans"] {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Open Sans', 'Fira Sans';
}

[_type~="serif"] {
  font-family: Georgia, "Times New Roman", Times, serif;
}

[_type~="mono"] {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

/*
  FONT WEIGHTS
*/

[_type~="light"] {
  font-weight: 300;
}

[_type~="normal"] {
  font-weight: 400;
}

[_type~="medium"] {
  font-weight: 500;
}

[_type~="semibold"] {
  font-weight: 600;
}

[_type~="bold"] {
  font-weight: 700;
}

[_type~="black"] {
  font-weight: 900;
}

/*
  HEADERS
*/

[_type~="h1"],
.breakpoint-small [_type~="small:h1"] {
  font-size: 4.5rem;
}

[_type~="h2"],
.breakpoint-small [_type~="small:h2"] {
  font-size: 3.5rem;
}

[_type~="h3"],
.breakpoint-small [_type~="small:h3"] {
  font-size: 2.5rem;
}

[_type~="h4"],
.breakpoint-small [_type~="small:h4"] {
  font-size: 1.5rem;
}

[_type~="h5"],
.breakpoint-small [_type~="small:h5"] {
  font-size: 1.2rem;
}

/*
  SMALL TYPE
*/

[_type~="small1"] {
  font-size: 0.9rem;
}

[_type~="small2"] {
  font-size: 0.8rem;
}

[_type~="small3"] {
  font-size: 0.7rem;
}

[_type~="small4"] {
  font-size: 0.6rem;
}


/*
  LINE-HEIGHT
*/

@for $i from 0 through 6 {
  [_type~="lh1.#{$i}"] {
    line-height: 1 + 0.1 * $i;
  }
}

/*
  TRANSFORMATIONS
*/

[_type~="upcase"] {
  text-transform: uppercase;
}

[_type~="center"] {
  text-align: center;
}

[_type~="italic"] {
  font-style: italic;
}

[_type~="truncate"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

[_type~="right"] {
  text-align: right;
}
