[am-Youtube] {
  position: relative;
  width: 100%;
  > iframe {
    @include extend(layout, "abs-fill")
  }
}

[am-Youtube~="16/9"] {
  padding-top: 100% * 9 / 16;
}

[am-Youtube~="4/3"] {
  padding-top: 100% * 3/4;
}

[am-Youtube~="4/3"] {
  padding-top: 100% * 3/4;
}

[am-Youtube~="screencast"] {
  padding-top: 65%;
}
