header(_flex='align-center justify-center wrap' _layout='p4')
  h1(_flex-child='grow1' _after='down-chevron' _layout='p1' _type='h4 center')
    = "My name is "
    span(_type='h1 thin' _layout='block p1') Glen Maddern
    = " and I do"
    span(_type='semibold')  rad web stuff

main
  != partial('_shared/preview_list', {preview: {title: 'Projects', objects: public.projects._data}})
  != partial('_shared/preview_list', {preview: {title: 'Talks', objects: public.talks._data}})

footer
