[_after]::after {
  content: '';
}

%_after_abs {
  position: relative;
  &::after {
    display: block;
    position: absolute;
  }
}

[_after~="down-chevron"] {
  @extend %_after_abs;
  &::after {
    margin-top: 1rem;
    margin-left: -1rem;
    top: 100%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}
