[_link] {
  &:hover, &:active, &:selected {
    color: inherit;
  }
  text-decoration: underline;
}

[_link~="subtle"] {
  color: inherit;
}

[_link~="inline"] {
  color: hsl(0, 50%, 40%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: hsl(0, 50%, 50%);
  }
}

[_link~="invisible"] {
  text-decoration: none;
  color: inherit;
}
