[_PreviewList-Item] {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

[_PreviewList-Item] > header {
  margin-bottom: 1rem;
  line-height: 1.4;
}

[_PreviewList-Item] > h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

[_PreviewList-Item] > img {
  width: 100%;
  box-shadow: 0 0 6px -4px;
}
