nav(_flex='align-center' _layout='p2' _type='upcase small2')
  h1(_flex-child='grow1' _type='semibold')
    a(href='/' _link="invisible") Glen Maddern
  ul(_flex='align-center wrap')
    li(_layout='pl1')
      a(href='/me' _link="subtle") About
    li(_layout='pl1') Projects
    li(_layout='pl1') Work
    li(_layout='pl1') Articles
