[_layout~="block"] {
  display: block;
}

.breakpoint-small [_layout~="mobile-block"] {
  display: block;
}

$sizes: 0, 0.2, 0.5, 1, 2, 3, 4;
@each $i in $sizes {
  [_layout~="p#{$i}"] {
    padding: $i * 1rem;
  }

  [_layout~="pt#{$i}"] {
    padding-top: $i * 1rem;
  }

  [_layout~="pr#{$i}"] {
    padding-right: $i * 1rem;
  }

  [_layout~="pb#{$i}"] {
    padding-bottom: $i * 1rem;
  }

  [_layout~="pl#{$i}"] {
    padding-left: $i * 1rem;
  }

  @each $j in $sizes {
    [_layout~="p#{$i}-#{$j}"] {
      padding: $i * 1rem $j * 1rem;
    }
  }

  [_layout~="m#{$i}"] {
    margin: $i * 1rem;
  }

  [_layout~="mt#{$i}"] {
    margin-top: $i * 1rem;
  }

  [_layout~="mr#{$i}"] {
    margin-right: $i * 1rem;
  }

  [_layout~="mb#{$i}"] {
    margin-bottom: $i * 1rem;
  }

  [_layout~="ml#{$i}"] {
    margin-left: $i * 1rem;
  }

  @each $j in $sizes {
    [_layout~="m#{$i}-#{$j}"] {
      margin: $i * 1rem $j * 1rem;
    }
  }

  [_layout~="m#{$i}-auto"] {
    margin: $i * 1rem auto;
  }
}

[_layout~="w100%"] {
  width: 100%;
}

[_layout~="mw100%"] {
  max-width: 100%;
}

[_layout~="intrinsic-width"] {
  width: intrinsic;
}

[_layout~="max960"] {
  @extend [ _layout ~= "m0-auto" ];
  max-width: 960px;
}

[_layout~="max840"] {
  @extend [ _layout ~= "m0-auto" ];
  max-width: 840px;
}
