header(_layout='max600 pt4')
  h2(_after='hr' _type='upcase' _type='h3 semibold center') Articles
main(_layout='max960 p1' _type='center')
  section(_layout='p1-2')
    - articles = public.articles._data
    != partial('../_shared/blog_headlines', {keys: Object.keys(articles)})
