.t-flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

@media (max-width: 520px) {
  .small.small {
    display: flex
  }

  .vertical--small.vertical--small {
    flex-direction: column
  }

  .align-center--small.align-center--small {
    align-items: center
  }

  .align-end--small.align-end--small {
    align-items: flex-end
  }

  .align-stretch--small.align-stretch--small {
    align-items: stretch
  }

  .wrap--small.wrap--small {
    flex-wrap: wrap
  }

  .justify-center--small.justify-center--small {
    justify-content: center
  }

  .justify-end--small.justify-end--small {
    justify-content: flex-end
  }
}

@media (min-width: 521px) and (max-width: 900px) {
  .medium.medium {
    display: flex
  }

  .vertical--medium.vertical--medium {
    flex-direction: column
  }

  .align-center--medium.align-center--medium {
    align-items: center
  }

  .align-end--medium.align-end--medium {
    align-items: flex-end
  }

  .align-stretch--medium.align-stretch--medium {
    align-items: stretch
  }

  .wrap--medium.wrap--medium {
    flex-wrap: wrap
  }

  .justify-center--medium.justify-center--medium {
    justify-content: center
  }

  .justify-end--medium.justify-end--medium {
    justify-content: flex-end
  }
}

@media (min-width: 901px) {
  .large.large {
    display: flex
  }

  .vertical--large.vertical--large {
    flex-direction: column
  }

  .align-center--large.align-center--large {
    align-items: center
  }

  .align-end--large.align-end--large {
    align-items: flex-end
  }

  .align-stretch--large.align-stretch--large {
    align-items: stretch
  }

  .wrap--large.wrap--large {
    flex-wrap: wrap
  }

  .justify-center--large.justify-center--large {
    justify-content: center
  }

  .justify-end--large.justify-end--large {
    justify-content: flex-end
  }
}

.t-flex-child--no-shrink {
  flex-shrink: 0;
}

.t-flex-child--shrink {
  flex-shrink: 1;
}

.t-flex-child--grow {
  flex-grow: 1;
}

.t-flex-child--1\/3 {
  flex: 0 0 33.33%;
}

.t-flex-child--1\/2 {
  flex: 0 0 50%;
}

@media (max-width: 520px) {
  .t-flex-child--no-shrink--small.t-flex-child--no-shrink--small {
    flex-shrink: 0
  }

  .t-flex-child--shrink--small.t-flex-child--shrink--small {
    flex-shrink: 1
  }

  .t-flex-child--grow--small.t-flex-child--grow--small {
    flex-grow: 1
  }

  .t-flex-child--1\/3--small.t-flex-child--1\/3--small {
    flex: 0 0 33.33%
  }

  .t-flex-child--1\/2--small.t-flex-child--1\/2--small {
    flex: 0 0 50%
  }
}

@media (min-width: 521px) and (max-width: 900px) {
  .t-flex-child--no-shrink--medium.t-flex-child--no-shrink--medium {
    flex-shrink: 0
  }

  .t-flex-child--shrink--medium.t-flex-child--shrink--medium {
    flex-shrink: 1
  }

  .t-flex-child--grow--medium.t-flex-child--grow--medium {
    flex-grow: 1
  }

  .t-flex-child--1\/3--medium.t-flex-child--1\/3--medium {
    flex: 0 0 33.33%
  }

  .t-flex-child--1\/2--medium.t-flex-child--1\/2--medium {
    flex: 0 0 50%
  }
}

@media (min-width: 901px) {
  .t-flex-child--no-shrink--large.t-flex-child--no-shrink--large {
    flex-shrink: 0
  }

  .t-flex-child--shrink--large.t-flex-child--shrink--large {
    flex-shrink: 1
  }

  .t-flex-child--grow--large.t-flex-child--grow--large {
    flex-grow: 1
  }

  .t-flex-child--1\/3--large.t-flex-child--1\/3--large {
    flex: 0 0 33.33%
  }

  .t-flex-child--1\/2--large.t-flex-child--1\/2--large {
    flex: 0 0 50%
  }
}
