.size {

}

.s-half {
  width: 0.5rem;
  height: 0.5rem;
}

.s-half-auto {
  width: 0.5rem;
  height: auto;
}

.s-auto-half {
  width: 0.5rem;
  height: auto;
}

.s-half-1 {
  width: 0.5rem *1rem;
  height: 0.5rem *1rem;
}

.s-half-1_5 {
  width: 0.5rem *1.5rem;
  height: 0.5rem *1.5rem;
}

.s-half-2 {
  width: 0.5rem *2rem;
  height: 0.5rem *2rem;
}

.s-half-4 {
  width: 0.5rem *4rem;
  height: 0.5rem *4rem;
}

.s-1 {
  width: 1rem;
  height: 1rem;
}

.s-1-auto {
  width: 1rem;
  height: auto;
}

.s-auto-1 {
  width: 1rem;
  height: auto;
}

.s-1-half {
  width: 1rem *0.5rem;
  height: 1rem *0.5rem;
}

.s-1-1_5 {
  width: 1rem *1.5rem;
  height: 1rem *1.5rem;
}

.s-1-2 {
  width: 1rem *2rem;
  height: 1rem *2rem;
}

.s-1-4 {
  width: 1rem *4rem;
  height: 1rem *4rem;
}

.s-1_5 {
  width: 1.5rem;
  height: 1.5rem;
}

.s-1_5-auto {
  width: 1.5rem;
  height: auto;
}

.s-auto-1_5 {
  width: 1.5rem;
  height: auto;
}

.s-1_5-half {
  width: 1.5rem *0.5rem;
  height: 1.5rem *0.5rem;
}

.s-1_5-1 {
  width: 1.5rem *1rem;
  height: 1.5rem *1rem;
}

.s-1_5-2 {
  width: 1.5rem *2rem;
  height: 1.5rem *2rem;
}

.s-1_5-4 {
  width: 1.5rem *4rem;
  height: 1.5rem *4rem;
}

.s-2 {
  width: 2rem;
  height: 2rem;
}

.s-2-auto {
  width: 2rem;
  height: auto;
}

.s-auto-2 {
  width: 2rem;
  height: auto;
}

.s-2-half {
  width: 2rem *0.5rem;
  height: 2rem *0.5rem;
}

.s-2-1 {
  width: 2rem *1rem;
  height: 2rem *1rem;
}

.s-2-1_5 {
  width: 2rem *1.5rem;
  height: 2rem *1.5rem;
}

.s-2-4 {
  width: 2rem *4rem;
  height: 2rem *4rem;
}

.s-4 {
  width: 4rem;
  height: 4rem;
}

.s-4-auto {
  width: 4rem;
  height: auto;
}

.s-auto-4 {
  width: 4rem;
  height: auto;
}

.s-4-half {
  width: 4rem *0.5rem;
  height: 4rem *0.5rem;
}

.s-4-1 {
  width: 4rem *1rem;
  height: 4rem *1rem;
}

.s-4-1_5 {
  width: 4rem *1.5rem;
  height: 4rem *1.5rem;
}

.s-4-2 {
  width: 4rem *2rem;
  height: 4rem *2rem;
}
