each key in keys
  - article = public.articles._data[key]
  a(href="/articles/#{key}" _link="blocky" _layout="block intrinsic-width m2-auto pb0.2" _type='lh1.2')
    h5(_type='h6 bold')= article.title
    span(_type='small3 italic')
      = article.strap
      span(_type='unbroken')  - #{article.date}
