footer(_layout='max960 pt2 pb4' _before='hr')
  figure(_flex='justify-center align-center')
    img(src='/assets/images/me_360.jpg' _border='round polariod' _size='4' _layout='mr1')
    figcaption(_type='small1 center lh1.4' _size='20*auto')
      span(_type='semibold center') Glen Maddern
      |  is an independent Web Developer from Melbourne, Australia.
