footer(_layout='p2 small:p1 mb2 max840' _before='hr')
  figure(_layout='max600' _flex='justify-center align-center')
    img(_flex-child='shrink0' src='/assets/images/me_160.jpg' _border='round polaroid' _size='4' _layout='mr1')
    figcaption(_type='small1 center lh1.4')
      span(_type='bold center') Glen Maddern
      |  is an independent Web Developer from Melbourne, Australia.
      br
      = "You should "
      span(_type='semibold') get in touch
      = " at "
      a(href='mailto:glenmaddern@gmail.com' _link='inline') glenmaddern@gmail.com
