nav(_flex='align-center' _layout='p2 max960' _type='upcase small2 lh1.4')
  h1(_flex-child='grow1' _type='semibold')
    a(href='/' _link="invisible") Glen Maddern
  ul(_flex='align-center wrap justify-end')
    li(_layout='pl1')
      a(href='/articles' _link="subtle") Articles
    li(_layout='pl1')
      a(href='/projects' _link="subtle") Projects
    li(_layout='pl1')
      a(href='/projects' _link="subtle") Talks
    li(_layout='pl1')
      a(href='/work' _link="subtle") Work
