header(_layout='p4-0')
  h1(_after='down-chevron' _layout='pb1' _type='h4 center')
    = "My name is "
    span(_type='h1 small:h2 light' _layout='block p1') Glen Maddern
    = " and I do"
    span(_type='semibold')  rad web stuff

main(_layout='max960' _type='center')
  section(_layout='p3-1 small:p2-1')
    h2(_after='hr' _type='upcase') Articles
    - articles = public.articles._data
    != partial('_shared/blog_headlines', {keys: Object.keys(articles).slice(0,3)})
    a(href='/articles' _link='inline' _type='small1') more...

  section(_layout='p3-1 small:p2-1')
    h2(_after='hr' _type='upcase') Projects
    - projects = public.projects._data
    != partial('_shared/preview_list', {preview: {objects: projects, keys: Object.keys(projects).slice(0,3)}})
    a(href='/projects' _link='inline obvious' _type='small3') All projects

  section(_layout='p3-1 small:p2-1')
    h2(_after='hr' _type='upcase') Talks
    - talks = public.talks._data
    != partial('_shared/preview_list', {preview: {objects: talks, keys: Object.keys(talks).slice(0,3)}})
    a(href='/talks' _link='inline obvious' _type='small3') All talks

  section(_layout='p3-1 small:p2-1')
    h2(_after='hr' _type='upcase') Work
    - work = public.work._data
    != partial('_shared/preview_list', {preview: {objects: work, keys: Object.keys(work).slice(0,3)}})
    a(href='/work' _link='inline obvious' _type='small3') All work
