@import '_shared/traits/layout';
@import '_shared/traits/flex';
@import '_shared/traits/type';
@import '_shared/traits/link';
@import '_shared/traits/before';
@import '_shared/traits/after';
@import '_shared/traits/border';
@import '_shared/traits/background';
@import '_shared/traits/size';

@import '_shared/modules/markdown';

*,*::before,*::after {
  box-sizing: border-box;
}
:root {
  @extend [_type~="sans"];
  color: hsl(220, 50%, 25%);
  font-weight: 400;
  font-size: 20px;
  min-height: 100%;
}
:root.breakpoint-small {
  font-size: 16px;
}
body {
  @extend [_background~="gradient"];
  min-height: 100%;
}
